<div class="right-panel">
    <p>side-bar-component works!</p>
    <div>sdghsdsfsfshgfsddshgshfdshf</div>
        <mat-sidenav-container>
            <mat-sidenav>Start</mat-sidenav>
                        <form class="example-form">
                            <!--<mat-form-field class="example-full-width">-->
                              <div class="example-full-width">
                                <input type="text" id="your-input-id"  #nameValue  matInput [formControl]="country_list" [(ngModel)]="name" name="name" [matAutocomplete]="auto" />
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                        <mat-option *ngFor="let option of filteredOptions | async; let i=index" [value]="option">
                                        {{option.name}}
                                        </mat-option>
                                </mat-autocomplete>
                            </div>
                           <!-- </mat-form-field>-->
                        <div [formGroupName]="i">
                           <button class="number-button" (click)="addText(nameValue.value)"  mat-button color="primary">+</button>
                            <div class="text"> {{name[i]}} </div>
                        </div>
                     </form>

           
            
            <mat-sidenav position="end">End</mat-sidenav>
            <section>Main sndsbdsnbsn</section>
        </mat-sidenav-container>
</div>              